body{
    background-color: #323c4e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    position: relative;
    grid-area: calculator;
    background-color: snow;
    width: 800px;
    height: 700px;
}
.grid{
    display: grid;
    grid-template-areas: 't t t t'
                         'i i i i'
                         'm m m en'
                         'n1 n2 n3 o0'
                         'n4 n5 n6 o1'
                         'n7 n8 n9 o2'
                         'n0 e d o3'
                         'bo bc pi o4'
                         's c ex lg';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 2.5fr 1.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 3px;
}

button, .title, .inputField, .message, .info1, .info2, .contacts, .feedback {
    font-family: "Roboto", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    border: 0;
    border-bottom: 5px solid #fb8e7e;
    color: #242735;
    letter-spacing: .05em;
}
.title{
    border-color: #6db6c5;
}

.title{
    grid-area: t;
    text-align: center;
    padding-bottom: 20px;
    background-color: #323c4e;
    color: snow;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .5em;
}
/*#8ec9bb*/
button{
    background-color: #a4dbe6;
    font-size: 18px;
    transition: all .07s ease;
    
}
button:hover{
    transform: rotate(5deg);
    background-color: #fb8e7e;
}
.operations{
    background-color: #7dc0ce;
}

.inputField {
    background-color: #c5d7c0;
    padding: 20px;
    width: 100%;
    border: 0;

}
.message {
    width: 100%;
    padding: 20px;
    background-color: #fb8e7e;
    color: snow;
    overflow: scroll;
    font-size: 16px;

    border-top: 5px solid #6db6c5;
    
}


.info1, .info2{
    padding: 35px 20px;
    border: 0;
    transition: all .6s ease;
    background-color: snow;
    width: 5.21vw;
    height: 5.21vw;
    font-size: 0.9vw;
    text-align: center;
    color: #fb8e7e;
    line-height: 1.5vw;
    overflow: hidden;
    text-overflow: ellipsis;

}

.info1{
    position: absolute;
    top: 351px;
    left: -5.21vw;
}

.info1:hover{
    width: 10.42vw;
    left: -10.42vw;
}

.info2{
    position: absolute;
    top: 351px;
    right: -5.21vw;
}
.info2:hover{
    width: 10.42vw;
    right: -10.42vw;
}

.show1, .show2{
    height: 656px;
    width: 15.625vw;
    border-top: 5px solid #6db6c5;
    border-bottom: 5px solid #fb8e7e;
    color: #323c4e;
    text-align: left;
    padding: 20px 30px;

}

.show1 {
    top: 44px;
    left: -15.625vw;
}
.show1:hover {
    width: 15.625vw;
    top: 44px;
    left: -15.625vw;
}

.show2 {
    top: 44px;
    right: -15.625vw;
}

.show2:hover {
    width: 15.625vw;
    top: 44px;
    right: -15.625vw;
}
.error {
    border: 5px solid #fa6e4f;
}

.enter{
    background-color: #fb8e7e;
    border-top: 5px solid #6db6c5;
}
.enter:hover{
    background-color: #6db6c5;
}
.clear, .return, .save{
    background-color: #c5d7c0;
    position: absolute;
    top: 180px;
    right: 0.26vw;
    border: 0;
    color: snow;
    padding: 0 3px;
    font-size: 0.94vw;
}
.return{
    right: 3.06vw;
    color: #fb8e7e;
}

.save{
    right: 9.26vw;
    color: #6db6c5;
}
.return:hover, .save:hover{
    color: snow;
}

.feedback{
    background-color: #c5d7c0;
    border: 0;
    padding: 10px;
    font-size: 16px;
    animation: spin 0.5s linear 0s infinite; 
    position: absolute;
    width: 50px;
    height: 50px;
    transition: all 2s step-end;
    display: none;
}
.start{
    display: block;
    top: 350px;
    left: -350px;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.contacts{
    position: absolute;
    width: 800px;
    height: 100px;
    bottom: -100px;
    left: -200px;
    text-align: center;
    padding: 20px;
    color: snow;
    border: 0;

    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .5em;
}
p{
    color: #7dc0ce;
}